<h1 mat-dialog-title>Add Tours</h1>
<div mat-dialog-content class="add-edit-tour-detail">
    <div class="main-css-div-text">
        <p class="main-div-text">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Enter Title">
            </mat-form-field>
        </p>
        <p class="main-div-text">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Enter Description">
            </mat-form-field>
        </p>
    </div>
    <div class="main-css-div-text">
        <p class="main-div-text">
            <mat-form-field class="main-div-text" appearance="outline">
                <mat-label>Select Country</mat-label>
                <mat-select [(ngModel)]="selectedOptions" multiple>
                    <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p class="main-div-text">
            <mat-form-field appearance="outline">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickers"></mat-datepicker-toggle>
                <mat-datepicker #pickers></mat-datepicker>
            </mat-form-field>
        </p>
    </div>
    <div class="main-css-div-text">
        <p class="main-div-text">
            <mat-form-field appearance="outline">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </p>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button class="main_heading_colors">Save</button>
</div>